nav {
  background-color: #084887;
}

.nav-title {
  color: #f58a07 !important;
  font-weight: bolder;
}

.route-links {
  color: #f7f5fb !important;
  text-decoration: none;
}

.route-links:hover {
  color: #f9ab55 !important;
}

.route-links:focus {
  color: #f9ab55;
}
